.winner {
  color: darkgreen;
}

body {
  background-image: url("https://images.unsplash.com/photo-1480563597043-1c877e682fc7?dpr=2&amp;auto=format&amp;fit=crop&amp;w=1500&amp;h=1000&amp;q=80&amp;cs=tinysrgb&amp;crop=");
  background-size: cover;
}

h1:first-of-type {}

#container {
  border: 2px solid gray;
  margin: 200px auto;
  width: 40%;
  text-align: center;
  padding-bottom: 30px;
  background: rgba(239, 228, 153, 0.9)
}